body {
	font-family: 'Open Sans', 'opensans', sans-serif;
	color: #2B2926;
	background: #eee;
	margin: 0;
	padding: 0;
}

a {
	color: #2B2926;
	text-decoration: none !important;
	border-bottom: 1px solid #6B6966;
}

input {
	background-color: transparent;
	color: inherit;
	color: #000;
	border: 0;
	border-bottom: 1px solid #bebebe;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

#lightbox {
	display: none;
	position: fixed;

	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	background: rgba(0, 0, 0, 0.85);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

#add-content {
	display: none;
}

.upload-iframe {
	height: 50px;
	width: 100px;
	border: none;
}

header {
	position: fixed;
	z-index: 100;

	top: 0;
	left: 0;

	width: 100%;
	height: 35px;

	background: rgba(0, 0, 0, 0.85);
	color: #eee;
}

.collapse {
	font-size: 0.6em;
	position: relative;
	top: -0.1em;
	margin-left: 0.5em;
	color: #ccc;
}

header > nav ul {
	display: inline-block;
	padding: 0;
	margin-top: 8px;
	line-height: 1;
	width: 100%;
}

header > nav li {
	display: inline-block;
	margin-left: 26px;
	height: 25px;
	overflow: hidden;
}

header > nav .right {
	float: right;
	margin-right: 10px;
}

header > nav li > a {
	max-height: 100%;
}

header > nav a {
	color: inherit !important;
	border-bottom: none;
}

#main-wrapper {
	display: block;
	width: 778px;
	margin: 0 auto;
}

aside {
	position: fixed;
	width: 150px;
	float: left;
	margin-top: 20px;
	overflow: hidden;
}

#page-logo {
	float: right;
	border: 0;
	margin-bottom: 30px;
	clear: both;
}

aside nav ul {
	padding: 0;
	margin: 0;
}

aside nav li {
	display: block;
	list-style-type: none;
	border-bottom: 1px solid #bebebe;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 18px;
}

aside nav li > a {
	border: none;
}

#content {
	width: 588px;
	float: right;
	margin-top: 50px;
}


.page-title {
	font-family: 'Open Sans Condensed';
	font-size: 37px;
	text-transform: uppercase;
	margin: 0;
}

.sub-title {
	font-size: 17px;
	font-weight: lighter;
	margin: 0;
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #cecece;
	font-style: italic;
}

.post {
	width: inherit;
	margin-bottom: 50px;
}

.post > .left {
	float: left;
	width: 48px;
	height: 100%;
}

.post .blog-avatar {
	border: none;
}

.post .blog-avatar > img {
	width: 48px;
	height: 48px;
	border: 1px solid #cecece !important;
}

.post > .right {
	width: 480px;
	padding-left: 60px;
}

.post > .right .post-image-link {
	border: none;
}

.post > .right .post-image {
	max-width: 100%;
}

.post > .right > .repost-list {
	font-weight: lighter;
	font-size: 0.9em;
}

.post > .right > .repost-list > .repost-from-avatar {
	height: 16px;
	width: 16px;
	margin-right: 3px;
}