<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{% if title %}{{ title }} - Soup{% else %}Soup - Publish, collect, share.{% endif %}</title>

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
		<link href="{{ STATIC_URL }}css/reset.css" rel="stylesheet" type="text/css" />
		<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript">
			var staticUrl = '{{ STATIC_URL }}';
		</script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	</head>

	<body>
		<div id="content">
			{% block content %}
				Nothing to see here…
			{% endblock %}
		</div>
	</body>
</html>
