{% load i18n %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{% if title %}{{ title }} - Soup{% else %}Soup - Publish, collect, share.{% endif %}</title>

		<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" />
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
		<link href="{{ STATIC_URL }}css/reset.css" rel="stylesheet" type="text/css" />
		<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript">
			var static_url = '{{ STATIC_URL }}';
		</script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	</head>

	<body>
		<header>
			<nav>
				<ul>
					{% if user.is_authenticated %}
						<li><a href="/my/">{{ user.username }} <span class="collapse">▼</span></a></li>
						<li><a href="/friends/">Friends</a></li>
						<li><a href="/everyone/">Everyone</a></li>

						<li class="right"><a href="/settings/"><img src="{{ STATIC_URL }}img/favicon.png" alt="Settings" /> <span class="collapse">▼</span></a></li>
					{% endif %}
				</ul>
			</nav>
		</header>

		<div id="main-wrapper">
			<aside>
				<a href="/"><img id="page-logo" src="{{ STATIC_URL }}img/soup.png" alt="Soup logo" /></a>
			</aside>

			<div id="content" role="main">
				<h1 class="page-title">{{ title }}</h1>
				{% if subtitle %}<h2 class="sub-title">{{ subtitle }}</h2>{% endif %}

				{% block content %}
					Nothing to see here…
				{% endblock %}
			</div>
		</div>
	</body>
</html>
